@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Source+Sans+Pro&family=Zen+Antique&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Zen Antique", serif;
}
header {
  font-family: "Source Sans Pro", sans-serif;
  font-family: "Zen Antique", serif;
}
.bar{
    display: flex;
    align-items: center;
}
.navbar {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 1rem 7rem;
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
}
.bar__logo{
  padding: 0.2rem 0.6rem;
  text-transform: uppercase;
  font-size: 0.9rem;
  margin-right: 3rem;
}

.bar__items a {
  color: #010334;
  text-align: center;
  padding: 2rem;
  text-decoration: none;
}

.fab {
  font-size: 2rem;
  background: radial-gradient(
    circle at 30% 107%,
    #141414 0%,
    #0a0a0a 5%,
    #181413 45%,
    #0e0d0d 60%,
    #060707 90%
  );
  -webkit-background-clip: text;
  /* Also define standard property for compatibility */
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 1rem;
}

.flex__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  width: 100%;
  padding: 0 2rem;
}

.flex__container__items {

  display: flex;
  color: #010334;
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
}

a {
  color: blue;
  text-decoration: none;
}

h2 {
  margin-bottom: 10px;
}


@media (max-width: 768px)  {
  .flex__container__items {
    flex-direction: column;
    align-items: center;
    width: auto;
  } 
}

@media (max-width: 425px) {
  .navbar {
    padding: 0%;
  }

  .media {
    display: flex;
    flex-direction: column;
  }
  
  .flex__container__items {
    font-size: large;
  } 

  .bar__items a {
    display: flex;
    padding: 0%;
  }
}

@media (max-width: 320px) {
  .flex__container__items__content__2 {
    font-size: larger;
  }

  .bar__logo {
    margin-right: 1rem;
  }
}