@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Source+Sans+Pro&family=Zen+Antique&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Zen Antique", serif;
}
head {
  font-family: "Source Sans Pro", sans-serif;
  font-family: "Zen Antique", serif;
}
.bar{
    display: flex;
    align-items: center;
}
.navbar {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 1rem 7rem;
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
}
.logo{
    border: 3px solid #010334;
    padding: 0.5rem 1.5rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-right: 3rem;
}

.div3 a {
  color: #010334;
  text-align: center;
  padding: 2rem;
  text-decoration: none;
}

.fab {
  font-size: 2rem;
  background: radial-gradient(
    circle at 30% 107%,
    #141414 0%,
    #0a0a0a 5%,
    #181413 45%,
    #0e0d0d 60%,
    #060707 90%
  );
  -webkit-background-clip: text;
  /* Also define standard property for compatibility */
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 1rem;
}

.flexcontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.flexitem {
  /* */
  width: 1200px;
  height: 200px;
  display: flex;
  margin: 2rem;
}

.read-more-container {
  display: flex;
  flex-direction: column;
}

.container {
  padding: 2rem;
  border-radius: 2px;
  line-height: 1.4rem;
}

.read-more-btn {
  color: blue;
}

.read-more-text {
  display: none;
}

.read-more-text--show {
  display: inline;
}