@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Source+Sans+Pro&family=Zen+Antique&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Zen Antique", serif;
}
header {
  font-family: "Source Sans Pro", sans-serif;
  font-family: "Zen Antique", serif;
}
.bar{
    display: flex;
    align-items: center;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 5rem;
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
}
.bar__logo{
  border: 1px solid #010334;
  padding: 0.2rem 0.6rem;
  text-transform: uppercase;
  font-size: 0.9rem;
  margin-right: 3rem;
  margin-left: 0.3rem;
}

.bar__items a {
  color: #010334;
  text-align: center;
  padding: 2rem;
  text-decoration: none;
}

.fab {
  font-size: 2rem;
  background: radial-gradient(
    circle at 30% 107%,
    #141414 0%,
    #0a0a0a 5%,
    #181413 45%,
    #0e0d0d 60%,
    #060707 90%
  );
  -webkit-background-clip: text;
  /* Also define standard property for compatibility */
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 1rem;
}

.media {
  display: flex;
}

.flex__container {
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  padding: 1rem;
}

.flex__container__items {
  display: flex;
  color: #010334;
  margin-bottom: 15px;
  padding: 1rem;
  flex-direction: column;
  justify-content: center;
}

.flex__container__items__content {
  display: flex;
  flex-direction: column;
  
}

a {
  color: blue;
  text-decoration: none;
}

h2 {
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;}

@media (min-width: 769px) and (max-width: 2560px) {
  .flex__container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    flex-direction: unset;
  }

  .flex__container__items {
    flex: 1 1 30%; /*grow | shrink | basis */
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .flex__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: unset;
    align-items: baseline;
  }

  .flex__container__items {
    width: 33%;
    box-shadow: unset;
  }

  .navbar {
    padding: 1rem;
  }

  .bar__items a {
    padding: 1rem;
  }

  h2 {
    display: flex;
    justify-content: center;

  }

  .fab {
    font-size: 1.5rem;
  }

  .bar__logo {
    font-size: small;
    margin-right: 0rem;
  }
}

@media (max-width: 425px) {
  .navbar {
    padding: 0%;
  }

  .fab {
    font-size: 1.5rem;
  }

  .bar__logo {
    font-size: small;
    }

  .bar__items a {
    display: flex;
    padding: 0%;
  }

  h2 {
    display: flex;
    justify-content: center;
  }
  
  .flex__container__items {
    align-items: center;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
  }

  .flex__column {
    flex-direction: column;
  }
}

@media (max-width: 375px) {
  .fab {
    font-size: 1.2rem;
  }

  .bar__logo {
    font-size: 0.7rem;
  }
}

@media (max-width: 320px) {
  .bar__logo {
    font-size: 0.6rem;
    margin-right: 2rem;
  }

  .bar__items a {
    margin-right: 0.5rem;
  }

  .fab {
    margin-right: 0.2rem;
  }
}

