$boxShadow : 0 2px 12px 0 rgba(0, 0, 0, 0.10);

.navbar {
    box-shadow: $boxShadow;
}

.card-body {
    box-shadow: $boxShadow;
    .img-fluid {
        height: 150px;
    } 
}

.card {
    border: unset;
}

.p-5 {
    padding: 1rem!important;
}

.form-inline {
    display: flex;
    position: static;
}

.media {
    padding-right: 3rem;
}

footer {
    position: static ;  
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
  }